body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.top-text{
  text-align: center;
 
  
  
}

.top-text h1{
  font-size: 65px;
  line-height: 30px;
  color: white;
  

 
}
.top-text p{
  font-size: 18px;
  color: white;
  line-height: 20px;
  
  
}
.link-part{
  text-decoration: none;
  background-color: #ff5959;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
  font-size: 20px; 
}
.top-banner{
  background-image: url(images/donation11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  position:relative;
  z-index: 1;
 

}
.top-banner:before{
position: absolute;
content:'';
width: 100%;
height: 100%;
background: rgba(68,68,68,0.6 );
top: 0;
left:0;
z-index: -1;


}
.donate-unit{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.list-part{
  
  text-align: center;
  
}
.list-part a{
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  
}
.other-part{
  
  text-align: center;
  margin-top: 60px;
  
  
}
.other-part h6{
  border-bottom: 1px solid rgb(168, 164, 164);
  
 
  
  
}
.icon-box{
  color: red;
  background-color: #ffeeee;
  padding: 25px 15px;
  border: 1px solid red;
}

