body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}
.top-text{
  text-align: center;
 
  
  
}

.top-text h1{
  font-size: 65px;
  line-height: 30px;
  color: white;
  

 
}
.top-text p{
  font-size: 18px;
  color: white;
  line-height: 20px;
  
  
}
.link-part{
  text-decoration: none;
  background-color: #ff5959;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
  font-size: 20px; 
}
.top-banner{
  background-image: url(images/donation11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  position:relative;
  z-index: 1;
 

}
.top-banner:before{
position: absolute;
content:'';
width: 100%;
height: 100%;
background: rgba(68,68,68,0.6 );
top: 0;
left:0;
z-index: -1;


}
.donate-unit{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.donate-unit h1{
  font-size: 40px;
  font-weight: 700;
}


.list-part{
  
  text-align: center;
  
}
.list-part a{
  text-decoration: none;
  margin-right: 30px;
  font-size: 40px;
  font-weight: 700;
  
  
}
.other-part{
  
  text-align: center;
  margin-top: 60px;
  
  
}
.other-part h6{
  border-bottom: 1px solid rgb(168, 164, 164);
  margin-left: 600px;
  margin-right: 600px;
  font-size: 20px;
  
  
 
  
  
}
.icon-box{
  color: red;
  background-color: #ffeeee;
  padding: 25px 15px;
  border: 1px solid red;
}

.donate-text{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;

  
}
.donate-text h1{
  font-size: 40px;
  font-weight: 700;
}
.flexible-container{
  display: flex;
  margin-bottom: 150px;
  margin-left: 150px;
  margin-right: 100px;
 }

.icon-part1{
  margin-left: 50px;
  width: 25%;
  background-color: #edf5f6;
  padding: 20px 15px;
  
  
}
.icon-part1 img{
  width: 20%;
  height: auto;
  
}
.icon-part2{
  margin-left: 50px;
  width: 25%;
  background-color: #ffeeee;
  padding: 20px 15px;
  
  
}
.icon-part2 img{
  width: 20%;
  height: auto;
}
.icon-part3{
  margin-left: 50px;
  width: 25%;
  background-color: #fff4d6;
  padding: 20px 15px;
  
  
}
.icon-part3 img{
  width: 20%;
  height: auto;
}
.cotribute-text{
  margin-left: 100px;
  margin-top: 30px;
  width: 30%;
}
.cotribute-text h1{
  font-size: 40px;
  
}
.cotribute-text p{
  font-size: 20px;
}
.cotribute-img img{
  width: 70%;
  height: auto;
  margin-left: 125px;
  margin-top: 50px;
}
.text-top{
  text-align: center;
  margin-top: 100px;
}
.text-top h1{
  font-size: 50px;
  font-weight: 700;
}
.text-top p {
  line-height: 10px;
}

.text-bottom{
  background-color: #fff4d6;
  padding: 50PX 50PX 50PX 50PX;
  width: 50%;
  height: 200PX;
  margin-left: 450PX;
  margin-top: 100PX;
  
}
.same-input{
  border: none;
  margin: 60px 188px;
}
.input-one{
  width: 300px;
  height: 50px;
  background-color: #d9d9d9;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding-left: 20px;
  border-radius: 10px;
  
}
.input-two{
  width: 200px;
  height: 50px;
  background-color: #ff5959;
  border: none;
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 10px;
  color: white;

  
}

.footer-part{
  background-color: black;
  margin-top: 100px;
}
.footer-text{
  text-align: center;
}
.footer-text h1{
  color: #ff5959;
  padding-top: 50px;
  font-size: 30px;
  font-weight: 700;
}
.footer-text h4{
  color: #ffeeee;
  padding-bottom: 50px;
}